@page "/"

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Nation</label>
            <select class="form-control">
                <option>Nation 1</option>
                <option>Nation 2</option>
                <option>Nation 3</option>
                <option>Nation 4</option>
                <option>Nation 5</option>
                <option>Nation 6</option>
            </select>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>1</td>
                </tr>

                <tr>
                    <td>2</td>
                </tr>

                <tr>
                    <td>3</td>
                </tr>

                <tr>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
